.brand-section-9 {
    .brand-text {
        font-size: 20px;
        color: $header-color;
        max-width: 390px;
        margin: 0 auto;
        margin-bottom: 50px;
        text-align: center;
        font-weight: 500;
    }
}

.brand-box {
    height: 180px;
    line-height: 180px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 20px;
    text-align: center;
    padding: 0 20px;
}